.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#box {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    width: 200px;
    height: 130px;
    border: 1px solid black;
    border-radius: 8px;

}